@model BDInSelfLove.Web.ViewModels.Appointment.AppointmentIndexViewModel
@using BDInSelfLove.Common
@using BDInSelfLove.Data.Models
@using Microsoft.AspNetCore.Identity
@using System.Text.Json;
@using Newtonsoft.Json;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer


@{
    ViewData["Title"] = @localizer["Запази час"].Value;
    bool userIsAdmin = this.User.IsInRole(GlobalValues.AdministratorRoleName);
    bool usersFirstAppt = !Model.Appointments.Any(x => x.UserId != null);

    var returnUrl = this.Context.Request.QueryString.Value;
    ;
}


@*Appointments from database*@
@{
    var apps = string.Empty;
    foreach (var appointment in Model.Appointments)
    {
        apps = apps + JsonConvert.SerializeObject(appointment) + ";";
    }
    apps = apps.TrimEnd(';');
    var availableAppointments = Model.Appointments.Where(x =>
        !x.IsUnavailable && DateTime.Compare(x.Start.ToUniversalTime(), DateTime.UtcNow) > 0).ToArray();

    <div class="d-none dbEvents">@apps</div>
}

<div class="container">
    @*No available appointments notification*@
    @if (!userIsAdmin && availableAppointments.Length == 0)
    {
        <div class="alert alert-dismissible bg-white mb-0" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <span>@localizer["NoAvailableApppointments"]</span>
            <a asp-area="" asp-controller="Home" asp-action="Contacts" class="green-btn p-2">@localizer["Contact"]</a>
        </div>
    }
    <div id="calendar" class="mt-3" workingHours="@Model.WorkdayStart.Hour-@Model.WorkdayEnd.Hour"></div>
</div>

<div>
    @*Modals*@
    @*Login modal*@
    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body pb-0">
                    <div class="modal-header text-center p-0 pb-3">
                        <h4 class="modal-title w-100">@localizer["Please log in to book an appointment"]</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
                <div class="modal-footer justify-content-center pt-0 border-0">
                    <a class="btn green-btn" href=@("/Identity/Account/Login?ReturnUrl=/api/Appointments" + returnUrl)>@localizer["Log in"]</a>
                </div>
            </div>
        </div>
    </div>

    @*Book appointment modal*@
    <div id="bookAppointmentModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body pb-0">

                    @if (usersFirstAppt)
                    {
                        <div class="modal-header text-center p-0 pb-3">

                            <h4 class="modal-title w-100">@localizer["Briefly describe your issue"]</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="form-group issueDescription">
                            <textarea id="patientIssueDescription" rows="4" class="form-control px-2" placeholder="@localizer["This will be shared only with your therapist"]"></textarea>
                        </div>
                    }
                    <div class="mt-3 mb-3 text-center">
                        <p class="mb-0" id="onSiteBookMsg"></p>
                        <label id="onSiteBookToggle" class="toggle">
                            <input class="toggle-checkbox" type="checkbox">
                            <div class="toggle-switch"></div>
                            <span class="toggle-label">На живо?</span>
                        </label>
                    </div>
                </div>

                <div class="modal-footer justify-content-center pt-0 border-0">
                    <button id="sendAppointment" type="button" class="btn green-btn">@localizer["Send"]</button>
                </div>
            </div>
        </div>
    </div>

    @*Daily availability modal*@
    <div id="dailyAvailabilityModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header pt-3 pb-2 text-center border-0">
                    <h4 class="modal-title w-100">@localizer["Set Daily Availability"]</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pt-1">
                    <div class="container">
                        <div class="row justify-content-center">
                            @{
                                var counter = 0;
                                for (int i = Model.WorkdayStart.Hour; i < Model.WorkdayEnd.Hour; i++)
                                {
                                    if (counter % 2 == 0)
                                    {
                                        <div class="dailyTimeSlot col-md-5 border rounded-pill text-center m-1 p-1">
                                            @(i.ToString() + ":00")
                                        </div>
                                        i--;
                                    }
                                    else
                                    {
                                        <div class="dailyTimeSlot col-md-5 border rounded-pill text-center m-1 p-1">
                                            @(i.ToString() + ":30")
                                        </div>
                                    }
                                    counter++;
                                }
                            }
                        </div>
                    </div>
                    <div class="row w-100 justify-content-center mt-1 mb-0 pb-0 mr-5">
                        <button type="button" id="submitDailyAvailability" class="btn green-btn ml-3 mt-2">@localizer["Save"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Appointment details modal*@
    <div id="appointmentDetailsModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center pb-0 border-0">
                    <h4 class="modal-title w-100">@localizer["Appointment Details"]</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pb-0">
                    <div class="row">
                        <div class="form-group col">
                            <label class="text-center text-black-50  border-bottom">@localizer["Date:"]</label>
                            <div class="date"></div>
                        </div>
                        <div class="form-group col">
                            <label class="text-center text-black-50  border-bottom">@localizer["Start:"]</label>
                            <div class="start"></div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="form-group col usernameGroup">
                            <label class="text-black-50 border-bottom">@localizer["Username:"]</label>
                            <span class="username d-block"></span>
                        </div>
                        <div class="form-group col statusGroup">
                            <label class="text-center text-black-50  border-bottom statusLabel">@localizer["Status:"] </label>
                            <span class="status font-weight-bold d-block"></span>
                        </div>
                    </div>
                    <div class="form-group detailsGroup mb-0 mt-3">
                        <label class="text-center text-black-50  border-bottom">@localizer["Details:"] </label>
                        <p class="details mb-0" style="word-wrap: break-word;"></p>
                    </div>
                    <div class="form-group mt-3">
                        <label class="text-center text-black-50  border-bottom">Локация </label>
                        <p id="onSiteDetailsMsg"></p>
                        @if (userIsAdmin)
                        {
                            <label id="onSiteDetailsToggle" class="toggle">
                                <input class="toggle-checkbox" type="checkbox">
                                <div class="toggle-switch"></div>
                                <span class="toggle-label">На живо?</span>
                            </label>
                        }
                    </div>
                </div>
                <div class="modal-footer justify-content-center pt-0 border-0">
                    @if (userIsAdmin)
                    {
                        <button type="button" id="approveAppointment" class="btn green-btn">@localizer["Approve"]</button>
                        <button type="button" id="occupyAppointment" class="btn white-btn">@localizer["Occupy"]</button>
                    }
                    <button id="btnDelete" class="btn white-btn">@localizer["Cancel"]</button>
                </div>
            </div>
        </div>
    </div>
    @*Cancel appointment confirmation modal*@
    <div id="cancelAppointmentConfirm" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center border-0">
                    <h4 class="modal-title w-100">@localizer["Are you sure?"]</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer justify-content-center border-0 pt-0">
                    <button type="button" class="btn btn-outline-danger confirmCancelAppointment">@localizer["Confirm"]</button>
                </div>
            </div>
        </div>
    </div>
    @*Working hours modal*@
    <div id="workingHours" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center pb-0 border-0">
                    <h4 class="modal-title w-100">@localizer["Standard Working Hours"]</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="form-group col ml-5 mb-0">
                                <label class="bordr-0">@localizer["Start Time"]</label>
                                <input type="time" value="00:00" id="startHour" name="startHour" required>
                            </div>
                            <div class="form-group col ml-5 mb-0">
                                <label>@localizer["End Time"]</label>
                                <input type="time" value="00:00" id="endHour" name="endHour" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button type="button" id="workingHoursSubmitBtn" class="btn green-btn">@localizer["Save"]</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @*CSFR token*@
    <form id="csfrToken" method="post"></form>
    @*Working hours button*@
    @if (userIsAdmin)
    {
        <div class="text-center">
            <button id="btnWorkingHours" class="green-btn border-0 btn mb-3" data-bs-toggle="modal" data-bs-target="#workingHours">@localizer["Standard Working Hours"]</button>
        </div>
    }
</div>

@section HeadScripts {
    <script src="~/lib/fullcalendar/index.global.min.js"></script>
}

@section Scripts {
    <script src="~/Custom/js/fullcalendar.js"></script>
}

@section Links {
    <link rel="stylesheet" href="~/Custom/css/calendar.css">
}