@model BDInSelfLove.Web.ViewModels.Appointment.AppointmentIndexViewModel
@using BDInSelfLove.Common
@using BDInSelfLove.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer


@{
    bool userIsAdmin = this.User.IsInRole(GlobalValues.AdministratorRoleName);
}
@if (!userIsAdmin)
{

<div class="row mb-0 mx-2 alert alert-success alert-dismissible d-block" role="alert">
    <div class="col">
        <span>
            @localizer["NoAvailableApppointments"] <a asp-area="" asp-controller="Home" asp-action="Contacts" class="green-btn p-2">@localizer["Contact"]</a>
        </span>
    </div>

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
}

<div class="container calendar-container mt-4 py-4">

    <form id="csfrToken" method="post"></form>
    @if (userIsAdmin)
    {
        <div class="text-center">
            <button id="btnWorkingHours" class="green-btn border-0 btn mb-3">@localizer["Standard Working Hours"]</button>
        </div>
    }

    <div id="calendar" workingHours="@Model.WorkdayStart.Hour-@Model.WorkdayEnd.Hour"></div>

    <div id="appointmentDetailsModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center pb-0 border-0">
                    <h4 class="modal-title w-100">@localizer["Appointment Details"]</h4>
                    <button type="button" class="close pl-0" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pb-0">
                    <div class="row">
                        <div class="form-group col">
                            <label class="text-center text-black-50  border-bottom">@localizer["Date:"]</label>
                            <div class="date"></div>
                        </div>
                        <div class="form-group col">
                            <label class="text-center text-black-50  border-bottom">@localizer["Start:"]</label>
                            <div class="start"></div>
                        </div>
                        <div class="form-group col">
                            <label class="text-center text-black-50  border-bottom">@localizer["End:"]</label>
                            <div class="end"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6 usernameGroup">
                            <label class="text-black-50 border-bottom">@localizer["Username:"]</label>
                            <span class="username"></span>
                        </div>
                        <div class="form-group col-6 statusGroup">
                            <label class="text-center text-black-50  border-bottom statusLabel">@localizer["Status:"] </label>
                            <span class="status font-weight-bold"></span>
                        </div>
                    </div>
                    <div class="form-group detailsGroup mb-0">
                        <label class="text-center text-black-50  border-bottom">@localizer["Details:"] </label>
                        <p class="details mb-0" style="word-wrap: break-word;"></p>
                    </div>
                </div>
                <div class="modal-footer justify-content-center pt-0 border-0">
                    @if (userIsAdmin)
                    {
                        <button type="button" id="approveAppointment" class="btn green-btn">@localizer["Approve"]</button>
                    }
                    <button id="btnDelete" class="btn btn-outline-danger">@localizer["Cancel"]</button>
                </div>
            </div>
        </div>
    </div>

    <div id="bookAppointmentModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body pb-0">
                    <div class="modal-header text-center p-0 pb-3">
                        <h4 class="modal-title w-100">@localizer["Briefly describe your issue"]</h4>
                        <button type="button" class="close pl-0" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="form-group issueDescription">
                        <textarea id="patientIssueDescription" rows="3" class="form-control px-2" placeholder="@localizer["This will be shared only with your therapist"]"></textarea>
                    </div>
                </div>

                <div class="modal-footer justify-content-center pt-0 border-0">
                    <button id="sendAppointment" type="button" class="btn green-btn">@localizer["Send"]</button>
                </div>
            </div>
        </div>
    </div>

    <div id="cancelAppointmentConfirm" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center border-0">
                    <h4 class="modal-title w-100">@localizer["Are you sure?"]</h4>
                    <button type="button" class="close pl-0" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer justify-content-center border-0 pt-0">
                    <button type="button" class="btn btn-outline-danger confirmCancelAppointment">@localizer["Confirm"]</button>
                </div>
            </div>
        </div>
    </div>


    <div id="dailyAvailabilityModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header pt-3 pb-2 text-center border-0">
                    <h4 class="modal-title w-100">@localizer["Set Daily Availability"]</h4>
                    <button type="button" class="close pb-0" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pt-1">
                    <div class="container">
                        <div class="row justify-content-center">
                            @{
                                for (int i = Model.WorkdayStart.Hour; i < Model.WorkdayEnd.Hour; i++)
                                {
                                    <div class="dailyTimeSlot col-md-5 border rounded-pill text-center m-1 p-1">
                                        @(i.ToString() + ":00")
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="row w-100 justify-content-center mt-1 mb-0 pb-0 mr-5">
                        <button type="button" id="submitDailyAvailability" class="btn green-btn ml-3 mt-2">@localizer["Save"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="workingHours" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center pb-0 border-0">
                    <h4 class="modal-title w-100">@localizer["Standard Working Hours"]</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="form-group col ml-5 mb-0">
                                <label class="bordr-0">@localizer["Start Time"]</label>
                                <input type="time" value="00:00" id="startHour" name="startHour" required>
                            </div>
                            <div class="form-group col ml-5 mb-0">
                                <label>@localizer["End Time"]</label>
                                <input type="time" value="00:00" id="endHour" name="endHour" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button type="button" id="workingHoursSubmitBtn" class="btn green-btn">@localizer["Save"]</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" integrity="sha256-Kpo67ZL4Mq+OPqdedHe9lvnMI6i6gZOI1+7NqujLdq0=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.min.css" integrity="sha256-O3Oq9/mud7866SStmc+zBcjkPs2PY/I/MhETci3wOrg=" crossorigin="anonymous" media="print" />

@section Scripts {
    <script src="~/Custom/js/timezone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" integrity="sha256-1hjUhpc44NwiNg8OwMu2QzJXhD8kcj+sJA3aCQZoUjg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js" integrity="sha256-SYIz/7Qe8avYdBE3w2kKVL1PB/mS05GGgKVn5qa86SY=" crossorigin="anonymous"></script>
    <script src="~/Custom/js/fullcalendar.js"></script>
}