@model BDInSelfLove.Web.InputModels.Forum.Comment.AssessCommentReportinputModel

<div class="row">
    <div class="col-md-2 p-0">
        <form class="mb-3" method="POST" asp-controller="Comment" asp-action="AssessReport">
            <div>
                <input type="hidden" asp-for="@Model.ReportId" />
            </div>
            <div>
                <input type="hidden" asp-for="@Model.ParentPostId" />
            </div>
            <div>
                <input type="hidden" asp-for="@Model.AssessmentValue" value="true" />
            </div>
            <button type="submit" class="btn btn-outline-success">Accept</button>
        </form>
        <form class="mb-3" method="POST" asp-controller="Comment" asp-action="AssessReport">
            <div>
                <input type="hidden" asp-for="@Model.ReportId" />
            </div>
            <div>
                <input type="hidden" asp-for="@Model.ParentPostId" />
            </div>
            <div>
                <input type="hidden" asp-for="@Model.AssessmentValue" value="false" />
            </div>
            <button type="submit" class="btn btn-outline-danger">Decline</button>
        </form>
    </div>
</div>