@model BDInSelfLove.Web.ViewModels.Forum.Post.PostCommentViewModel

<div class="comment">
    <div class="row">
        <div class="col-md-2 p-0">
            <button type="button" class="btn btn-outline-primary btn-sm btn-block reply-button">
                <i class="ion ion-md-create"></i>Reply
            </button>
        </div>
        <div class="col-md-2 p-0">
            <a asp-controller="Comment" asp-action="Report" asp-route-id="@Model.Id" class="btn btn-outline-danger btn-sm btn-block">
                <i class="ion ion-md-create"></i>Report
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-0">
            <div class="card  border-0" id="@Model.Id">
                <div class="card-header bg-white border-0">
                    <div class="media flex-wrap w-100 align-items-center">
                        <img src="@(Model.UserProfilePhoto == null ? "https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg" : Model.UserProfilePhoto)"
                             width="@ViewData["width"]" height="@ViewData["height"]"
                             class="d-block rounded-circle" alt="">
                        <div class="media-body ml-3">
                            <a asp-controller="Profile" asp-action="Index" asp-route-username="@Model.UserUserName" class="user-link" data-abc="true">@Model.UserUserName</a>
                            <div class="text-muted small">@Model.CreatedOn.ToString("dd MMMM yyyy HH:mm")</div>
                        </div>
                        <div class="text-muted small ml-3">
                            <div>Member since <strong>@Model.UserCreatedOn.ToString("dd MMMM yyyy HH:mm")</strong></div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @Html.Raw(Model.SanitizedContent)
                </div>
                @if (@Model.SubComments.Count > 0)
                {
                    this.ViewData["width"] = "40";
                    this.ViewData["height"] = "40";

                    <div class="align-self-end" style="width: 90%">

                        @foreach (var item in Model.SubComments)
                        {
                            <partial name="_RecursiveCommentPartial" model="@item" />
                        }

                    </div>
                }
            </div>
        </div>
    </div>
</div>



