@model IEnumerable<BDInSelfLove.Web.ViewModels.Forum.Search.SearchCategoryViewModel>

<h1>Categories</h1>
@foreach (var category in Model)
{
    <section class="mb-3">
        <div class="card">
            <div class="card-header p-4 align-content-between">
                <a asp-controller="Category" asp-action="Index" asp-route-id="@category.Id" class="text-dark">
                    <div class="h4">
                        @category.Name
                    </div>
                    <div>
                        @category.Description
                    </div>
                </a>
            </div>
            <table class="table mb-xl-0">
                <thead>
                    <tr>
                        <th scope="col">Total Posts</th>
                        <th scope="col">Total Comments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div>@category.PostsCount</div>
                        </td>
                        <td>
                            <div>@category.CommentsCount</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
}