@model IEnumerable<BDInSelfLove.Web.ViewModels.Forum.Search.SearchPostViewModel>

<h1>Posts</h1>
@foreach (var post in Model)
{
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-0 pb-0 border-0" id="0">
                <div class="card-header text-dark p-4">
                    <h2 class="h4">@post.Title</h2>
                </div>
                <div class="card-header bg-white border-0">
                    <div class="media flex-wrap w-100 align-items-center">
                        <img src="@(post.UserProfilePhoto == null ? "https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg" : post.UserProfilePhoto)" height="@this.ViewData["width"]" width="@this.ViewData["height"]"
                             class="d-block rounded-circle" alt="">
                        <div class="media-body ml-3">
                            <a class="user-link" asp-controller="Profile" asp-action="Index" asp-route-username="@post.UserUserName" data-abc="true">@post.UserUserName</a>
                            <div class="text-muted small">@post.CreatedOn.ToString("dd MMMM yyyy HH:mm")</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @Html.Raw(post.SanitizedContent)
                </div>
            </div>
        </div>
    </div>
}