@model BDInSelfLove.Web.InputModels.Forum.Category.CategorySortingInputModel

<form asp-controller="Category" asp-action="Index" method="GET" class="form-inline float-lg-left d-block d-sm-flex">
    <input type="hidden" asp-for="@Model.CategoryId" value="@Model.CategoryId" />
    <div class="mb-2 mb-sm-0 mr-2">Display posts from previous:</div>
    <div class="form-group mr-2">
        <label class="sr-only" for="example-select-time">Time period</label>
        <select asp-for="@Model.TimeCriterion" asp-items="@Model.TimeCriteria"
                class="form-control form-control-sm">
        </select>
    </div>
    <div class="mb-2 mb-sm-0 mr-2">Sort by:</div>
    <div class="form-group mr-2">
        <label class="sr-only" for="example-select-sort">Sort by</label>
        <select asp-for="@Model.GroupingCriterion" asp-items="@Model.GroupingCriteria"
                class="form-control form-control-sm">
        </select>
    </div>
    <div class="form-group mr-2">
        <label class="sr-only" for="example-select-direction">Sort direction</label>
        <select asp-for="@Model.OrderingCriterion" asp-items="@Model.OrderingCriteria"
                class="form-control form-control-sm">
        </select>
    </div>
    <button type="submit" class="btn btn-sm btn-outline-primary">Go</button>
</form>