@model BDInSelfLove.Web.ViewModels.Forum.Category.CategoryViewModel




<div class="row">
    <div class="col-12">
        <section>
            <div class="card">
                <div class="card-header text-dark p-4 rounded-top">
                    <h2 class="h4">@Model.Name</h2>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="topic-col">Topic</th>
                            <th scope="col" class="created-col">Created</th>
                            <th scope="col">Statistics</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var post in Model.Posts)
                        {
                            <tr>
                                <td>
                                    <h3 class="h6">
                                        <span class="badge badge-secondary">7 unread</span> <a asp-action="Index" asp-controller="Post" asp-route-id="@post.Id">
                                            @post.Title
                                        </a>
                                    </h3>
                                    <div class="small">
                                        Go to page: <a href="overview-topics.html#0">1</a>,
                                        <a href="overview-topics.html#0">2</a>,
                                        <a href="overview-topics.html#0">3</a>
                                        … <a href="overview-topics.html#0">7</a>,
                                        <a href="overview-topics.html#0">8</a>,
                                        <a href="overview-topics.html#0">9</a>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        by <a asp-action="Index" asp-controller="Profile" asp-route-username="@post.UserUserName">
                                            @post.UserUserName
                                        </a>
                                    </div>
                                    <div>@post.CreatedOn</div>
                                </td>
                                <td>
                                    <div>@post.CommentsCount comments</div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </section>

    </div>
</div>
<div class="mb-3 clearfix">
    <nav aria-label="Navigate post pages" class="float-lg-right">
        <ul class="pagination pagination-sm mb-lg-0">
            <li class="page-item active">
                <a href="overview-topics.html#" class="page-link">
                    1 <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="page-item"><a href="overview-topics.html#" class="page-link">2</a></li>
            <li class="page-item"><a href="overview-topics.html#" class="page-link">3</a></li>
            <li class="page-item"><a href="overview-topics.html#" class="page-link">4</a></li>
            <li class="page-item"><a href="overview-topics.html#" class="page-link">5</a></li>
            <li class="page-item"><a href="overview-topics.html#" class="page-link">… 31</a></li>
            <li class="page-item"><a href="overview-topics.html#" class="page-link">Next</a></li>
        </ul>
    </nav>
    <partial name="_SortingPartial" model="@Model.CategorySorting" />
</div>
<a asp-controller="Post" asp-action="Create" asp-route-categoryId="@Model.Id" class="btn btn-md btn-success btn-block">New Post</a>

