@model BDInSelfLove.Web.ViewModels.Forum.Category.CategoryViewModel

<div class="row">
    <div class="col-12">
        <section>
            <div class="card">
                <div class="card-header text-dark p-4 rounded-top">
                    <h2 class="h4">@Model.Name</h2>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="topic-col">Topic</th>
                            <th scope="col" class="created-col">Created</th>
                            <th scope="col">Statistics</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var post in Model.Posts)
                        {
                            <tr>
                                <td>
                                    <h3 class="h6">
                                        <a asp-action="Index" asp-controller="Post" asp-route-id="@post.Id">
                                            @post.Title
                                        </a>
                                    </h3>
                                </td>
                                <td>
                                    <div>
                                        by <a asp-action="Index" asp-controller="Profile" asp-route-username="@post.UserUserName">
                                            @post.UserUserName
                                        </a>
                                    </div>
                                    <div>@post.CreatedOn</div>
                                </td>
                                <td>
                                    <div>@post.CommentsCount comments</div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </section>

    </div>
</div>
<div class="mb-3 clearfix">
    <partial name="_SortingPartial" model="@Model.CategorySorting" />
</div>
<a asp-controller="Post" asp-action="Create" asp-route-categoryId="@Model.Id" class="btn btn-outline-primary btn-block w-50 mx-auto">New Post</a>

