@model InSelfLove.Web.ViewModels.Comment.CommentsAllViewModel

@using InSelfLove.Data.Models
@using Microsoft.AspNetCore.Identity
@using InSelfLove.Web.InputModels.Comment

@inject SignInManager<ApplicationUser> SignInManager
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    const int mainCommentsPerPage = 3;
}

<div id="comments-section" class="mb-4">
      <!-- Comment delete confirmation modal -->
    <partial name="_CommentDeleteConfirmPartial" />

    @*Login btn if user isn't logged in*@
    @if (!this.SignInManager.IsSignedIn(this.User))
    {
        <div class="row mt-5">
            <div class="col">
                <partial name="_PostLoginPartial" model="null" />
            </div>
        </div>
    }
    @*Show add comment btn for logged-in users*@
    else
    {
        <h2 class="mt-5 subtitle">@localizer["ADD NEW COMMENT"]</h2>
        <div class="row">
            <div class="col">
                <partial name="_CommentAddPartial" model="@(new CommentInputModel
                            {
                                ArticleId = Model.ArticleId,
                                VideoId = Model.VideoId,
                                ParentCommentId = null,
                            })" />
            </div>
        </div>
    }

    <!-- All comments -->
    @if (Model.Comments.Count > 0)
    {
        <h2 class="mb-2 mt-5 subtitle">@localizer["COMMENTS"]</h2>
        <div id="all-comments">
            @foreach (var comment in Model.Comments)
            {
                <partial name="_CommentSinglePartial" model="@comment" />
            }
            <!-- Load more comments button -->
            @if (Model.Comments.Count > mainCommentsPerPage)
            {
                <div class="row mt-2 pb-2">
                    <div class="col text-center">
                        <button id="load-comments-btn" class="btn btn-outline-secondary btn-sm">@localizer["Load More Comments"]</button>
                    </div>
                </div>
            }
        </div>
    }
</div>
