@using InSelfLove.Data.Models
@using InSelfLove.Services.Data.Helpers;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a href="#" class="nav-link p-0 px-3 profile-anchor" data-bs-toggle="dropdown" aria-expanded="false">
            <img id="login-icon" src="~/Custom/icons/user-solid.svg" alt="login icon" data-creator="Icon by www.fontawesome.com / https://fontawesome.com/license" />
        </a>
        <ul class="dropdown-menu mb-2">
            @if (this.SignInManager.IsSignedIn(this.User))
            {
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                        @localizer["Profile"]
                    </a>
                </li>

                @if (this.User.IsInRole(AppConstants.AdministratorRoleName))
                {
<li>
    <a class="dropdown-item" asp-area="" asp-controller="Articles" asp-action="Create">
        @localizer["Create Article"]
    </a>
</li>
                    <li>
                        <a class="dropdown-item" asp-area="" asp-controller="Videos" asp-action="Create">
                            @localizer["Create Video"]
                        </a>
                    </li>                }

                                <li>
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Context.Request.Path">
                                        @localizer["Logout"]
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">@localizer["Register"]</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">@localizer["Login"]</a>
                                </li>
                            }
            <li class="dropdown-item py-0">
                @await Html.PartialAsync("_CulturePartial")
            </li>
        </ul>
    </li>
</ul>