@model BDInSelfLove.Web.ViewModels.Forum.Comment.AssessCommentViewModel

@using BDInSelfLove.Web.InputModels.Forum.Comment

@{
    this.ViewData["width"] = 62;
    this.ViewData["height"] = 62;
}

<h2>Comment</h2>
<div class="row">
    <div class="col-md-12 mb-0">
        <div class="card  border-0">
            <div class="card-header bg-white border-0">
                <div class="media flex-wrap w-100 align-items-center">
                    <img src="@Model.UserProfilePhoto" width="@ViewData["width"]" height="@ViewData["height"]"
                         class="d-block rounded-circle" alt="">
                    <div class="media-body ml-3">
                        <a class="user-link" @*href="@Model.UserId"*@ data-abc="true">@Model.UserUserName</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @Html.Raw(Model.SanitizedContent)
            </div>
        </div>
    </div>
</div>

<h2>Report</h2>
<div class="row">
    <div class="col-md-12 mb-0">
        <div class="card  border-0">
            <div class="card-header bg-white border-0">
                <div class="media flex-wrap w-100 align-items-center">
                    <img src="@Model.Report.SubmitterProfilePhoto" width="@ViewData["width"]" height="@ViewData["height"]"
                         class="d-block rounded-circle" alt="">
                    <div class="media-body ml-3">
                        <a class="user-link" @*href="@Model.UserId"*@ data-abc="true">@Model.Report.SubmitterUserName</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @Html.Raw(Model.Report.Reason)
            </div>
        </div>
    </div>
</div>

<partial name="_CommentReportAssessmentPartial" model=@(new AssessCommentReportinputModel { ReportId = Model.Report.Id, ParentPostId = Model.ParentPostId, OffenderId = Model.UserId })>