@using BDInSelfLove.Common
@using BDInSelfLove.Data.Models
@using Microsoft.AspNetCore.Identity
@using BDInSelfLove.Web.Areas.Administration
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer


<div class="container calendar-container mt-4 py-4">
    <form id="csfrToken" method="post"></form>
    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <div class="text-center">
            <button id="btnWorkingHours" class="btn btn-outline-secondary mb-3">@localizer["Set Standard Working Hours"]</button>
        </div>
    }
    <div id="calendar" workingHours="@GlobalAdminValues.WorkDayStart-@GlobalAdminValues.WorkDayEnd"></div>


    <div id="ownAppointmentModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-start pb-0">
                    <h4 class="modal-title">@localizer["Appointment Details"]</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col">
                            <label class="text-center text-black-50  border-bottom">@localizer["Date:"]</label>
                            <div class="date"></div>
                        </div>
                        <div class="form-group col">
                            <label class="text-center text-black-50  border-bottom">@localizer["Start:"]</label>
                            <div class="start"></div>
                        </div>
                        <div class="form-group col">
                            <label class="text-center text-black-50  border-bottom">@localizer["End:"]</label>
                            <div class="end"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6 usernameGroup">
                            <label class="text-black-50 border-bottom">@localizer["Username:"]</label>
                            <span class="username"></span>
                        </div>
                        <div class="form-group col-6 statusGroup">
                            <label class="text-center text-black-50  border-bottom statusLabel">@localizer["Status:"] </label>
                            <span class="status font-weight-bold"></span>
                        </div>
                    </div>
                    <div class="form-group detailsGroup">
                        <label class="text-center text-black-50  border-bottom">@localizer["Details:"] </label>
                        <p class="details" style="word-wrap: break-word;"></p>
                    </div>
                </div>
                <div class="modal-footer justify-content-start">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-outline-secondary closeDetailsModal" data-dismiss="modal">@localizer["Close"]</button>
                        </div>
                        <div class="col">
                            <button id="btnDelete" class="btn btn-outline-danger">@localizer["Cancel Appointment"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="bookAppointmentModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body pb-0">
                    <div class="form-group issueDescription">
                        <label class="ml-1">@localizer["Please briefly describe your issue."]</label>
                        <textarea id="patientIssueDescription" rows="3" class="form-control px-2" placeholder="@localizer["This will be shared only with your therapist."]"></textarea>
                    </div>
                </div>

                <div class="modal-footer pt-0 text-center justify-content-start">
                    <div class="row">
                        <div class="col">
                            <button id="sendAppointment" type="button" class="btn green-btn">@localizer["Send"]</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-outline-secondary closeAppointmentDetailsModal" data-dismiss="modal">@localizer["Close"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="appointmentApproval" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-start pb-0">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="text-black-50 border-bottom">@localizer["Username:"]</label>
                        <p class="username"></p>
                    </div>
                    <div class="form-group">
                        <label class="text-center text-black-50  border-bottom">@localizer["Issue description:"]</label>
                        <p class="description mb-0" style="word-wrap: break-word;"></p>
                    </div>
                </div>
                <div class="modal-footer justify-content-start">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn green-btn approveAppointment">@localizer["Approve"]</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-outline-danger declineAppointment" data-dismiss="modal">@localizer["Decline"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="declineAppointmentConfirm" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-start pb-0">
                    <h4 class="modal-title">@localizer["Confirm Decline"]</h4>
                </div>
                <div class="modal-body pb-0">
                    <div class="form-group">
                        <label>@localizer["If you find it necessary, please let me know what happened."]</label>
                        <textarea id="declineReasoning" rows="3" class="form-control px-2"></textarea>
                    </div>
                </div>
                <div class="modal-footer justify-content-start pt-0">
                    <button type="button" class="btn btn-outline-danger confirmDeclineAppointment">@localizer["Confirm"]</button>
                </div>
            </div>
        </div>
    </div>


    <div id="dailyAvailabilityModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center py-2">
                    <h4 class="modal-title">@localizer["Set Daily Availability"]</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row justify-content-center">
                            @{
                                for (int i = GlobalAdminValues.WorkDayStart; i < GlobalAdminValues.WorkDayEnd; i++)
                                {
                                    <div class="dailyTimeSlot col-md-5 border rounded-pill text-center m-1 p-1" style="border-color:#aa5584;">
                                        @(i.ToString() + ":00")
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="row justify-content-center mt-1 mb-0 pb-0">
                        <button type="button" id="submitDailyAvailability" class="btn green-btn ml-3">@localizer["Save"]</button>
                        <button type="button" class="btn btn-outline-secondary ml-2" data-dismiss="modal">@localizer["Close"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="workingHours" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-start pb-0">
                    <h4 class="modal-title">@localizer["Set Standard Working Hours"]</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="form-group col ml-5">
                                <label>@localizer["Start Time"]</label>
                                <div class="input-group date">
                                    <input type="time" id="startHour" name="startHour" required>
                                </div>
                            </div>
                            <div class="form-group col ml-5">
                                <label>@localizer["End Time"]</label>
                                <div class="input-group date">
                                    <input type="time" id="endHour" name="endHour" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="button" id="workingHoursSubmitBtn" class="btn green-btn btn-block">@localizer["Save"]</button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-outline-secondary btn-block" data-dismiss="modal">@localizer["Close"]</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" integrity="sha256-Kpo67ZL4Mq+OPqdedHe9lvnMI6i6gZOI1+7NqujLdq0=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.min.css" integrity="sha256-O3Oq9/mud7866SStmc+zBcjkPs2PY/I/MhETci3wOrg=" crossorigin="anonymous" media="print" />

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" integrity="sha256-1hjUhpc44NwiNg8OwMu2QzJXhD8kcj+sJA3aCQZoUjg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js" integrity="sha256-SYIz/7Qe8avYdBE3w2kKVL1PB/mS05GGgKVn5qa86SY=" crossorigin="anonymous"></script>


    <script src="~/Custom/js/fullcalendar.js"></script>
}