@model BDInSelfLove.Web.ViewModels.Home.HomeViewModel

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    this.ViewData["Title"] = localizer["Home Page"].Value;

    string featuredItemTitle = "";
    string featuredItemController = "";
    int featuredItemId = 0;

    if (Model.FeaturedArticle == null)
    {
        featuredItemTitle = Model.FeaturedVideo.Title;
        featuredItemController = "Video";
        featuredItemId = Model.FeaturedVideo.Id;
    }
    else
    {
        featuredItemTitle = Model.FeaturedArticle.Title;
        featuredItemController = "Article";
        featuredItemId = Model.FeaturedArticle.Id;
    }
}

<!-- SHOWCASE -->
<section id="showcase" class="py-5">
    <div class="dark-overlay text-white">
        <div class="container">
            <div class="row mt-4 pt-4">
                <div class="col text-center mt-4 pt-4">
                    <div class="showcase-wrapper">
                        <h1>@localizer["FeaturedArticle"]</h1>
                        <h2>
                            @featuredItemTitle
                        </h2>
                        <a asp-controller="@featuredItemController" asp-action="Single" asp-route-id="@featuredItemId" class=" btn btn-outline-secondary btn-sm text-dark mt-2">
                            @localizer["ReadMore"]
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- EXPLORE HEAD -->
<section id="explore-head-section">
    <div class="container">
        <div class="row">
            <div class="col text-center pt-5 pb-2 info-header">
                <h1>@localizer["Explore My Articles"]</h1>
                @*<p class="lead">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum ullam dolor culpa et at
                        exercitationem possimus sunt, vitae quasi reiciendis!
                    </p>*@
            </div>
        </div>
    </div>
</section>

<!-- BLOG SECTION -->
<section id="blog" class="py-4">
    <div class="container">
        <div class="row">
            <partial name="_ArticlesPartial" model="@Model.LastArticles" />
        </div>

        <a asp-controller="Article" asp-action="All" class="btn btn-outline-secondary btn-block mt-2">@localizer["Check Them All Out"]</a>

    </div>
</section>

<!-- SEE VIDEOS -->
<section id="explore-videos-section">
    <div class="container">
        <div class="row">
            <div class="col text-center pt-5 pb-2 info-header">
                <h1>@localizer["See My Videos"]</h1>
                @*<p class="lead">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum ullam dolor culpa et at
                        exercitationem possimus sunt, vitae quasi reiciendis!
                    </p>*@
            </div>
        </div>
    </div>
</section>

<!-- VIDEOS SECTION -->

<section id="videos" class=" pt-4">
    <div id="videoCarousel" class="container">
        <div class="row">
            <div class="col-sm-8 m-auto">

                <!-- SLIDER WITH CONTROLS -->
                <div id="slider2" class="carousel slide" data-ride="carousel">
                    <!-- CONTROLS BELOW -->
                    <ol class="carousel-indicators">
                        <li class="active" data-target="#slider2" data-slide-to="0"></li>
                        <li data-target="#slider2" data-slide-to="1"></li>
                        <li data-target="#slider2" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <vc:home-video></vc:home-video>
                    </div>

                    <!-- CONTROLS -->
                    <a href="#slider2" class="carousel-control-prev mt-5" data-slide="prev" aria-label="previous video">
                        <span class="carousel-control-prev-icon"></span>
                    </a>

                    <a href="#slider2" class="carousel-control-next mt-5" data-slide="next" aria-label="next video">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <a asp-controller="Video" asp-action="All" class="btn btn-outline-secondary btn-block my-4">@localizer["See All My Videos"]</a>
    </div>
</section>


<script>
    let DOMelements = document.querySelectorAll('.article-card');
    let elements = Array.from(DOMelements);
    let randomElementHeight = elements[0].offsetHeight;

    if (elements.some(e => e.offsetHeight != randomElementHeight)) {
        let maxHeight = 0;
        elements.forEach(e => e.offsetHeight > maxHeight ? maxHeight = e.offsetHeight : null);

        for (let i = 0; i < elements.length; i++) {
            DOMelements[i].style.height = maxHeight + 'px';
        }
    }
</script>
