@model BDInSelfLove.Web.ViewModels.Home.HomeViewModel

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    this.ViewData["Title"] = localizer["Home Page"].Value;
}

<!-- Showcase -->
<div id="showcase">
    <div class="dark-overlay text-white">
            <div class="row mx-1">
                <div class="col text-center">
                    <div class="showcase-wrapper">
                        <h1>@localizer[$"FEATURED {Model.FeaturedItem.Controller}"]</h1>
                        <h2>
                            @Model.FeaturedItem.Title
                        </h2>
                        <a asp-controller="@Model.FeaturedItem.Controller" asp-action="Single" asp-route-slug="@Model.FeaturedItem.Slug" class="btn btn-outline-light btn-md text-white mt-2 see-more-feature-btn">
                            @localizer["SEE MORE"]
                        </a>
                    </div>
                </div>
            </div>
    </div>
</div>

<div class="main-content">
    <!-- Info Header -->
    <div id="info-header" class="row text-center pt-5 mt-5 mb-2">
        <h2 class="col subtitle">@localizer["POSTS"]</h2>
    </div>
    <!-- Articles -->
    <div id="home-articles" class="container py-4">
        <div class="row">
            @foreach (var article in Model.Articles)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <partial name="_ArticlePreviewPartial" model="@article" />
                </div>
            }
        </div>
        <div class="text-center">
            <a asp-controller="Articles" asp-action="Index" class="btn mt-2 white-btn">
                @localizer["SEE MORE"]
            </a>
        </div>
    </div>
    <!-- Videos -->
    <div id="video-carousel" class="container pt-4">
        <div class="row">
            <div class="col-sm-8 m-auto">
                <div id="slider" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
                    <!-- Arrow controls -->
                    <a href="#slider" class="carousel-control-prev mt-5" data-bs-slide="prev" aria-label="previous video">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a href="#slider" class="carousel-control-next mt-5" data-bs-slide="next" aria-label="next video">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                    <!-- Videos -->
                    <div class="carousel-inner">
                        <partial name="_VideoCarouselPartial" model="Model.Videos" />

                    </div>
                    <!-- Bottom controls -->
                    <ol class="carousel-indicators">
                        <li class="active" data-bs-target="#slider" data-bs-slide-to="0"></li>
                        <li data-bs-target="#slider" data-bs-slide-to="1"></li>
                        <li data-bs-target="#slider" data-bs-slide-to="2"></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a asp-controller="Videos" asp-action="Index" class="btn my-4 white-btn">
                @localizer["SEE MORE"]
            </a>
        </div>
    </div>
</div>

@section Links {
    <link rel="stylesheet" href="~/lib/lite-youtube-embed/src/lite-yt-embed.css" />
}

@section Scripts {
    <script src="~/lib/lite-youtube-embed/src/lite-yt-embed.js"></script>
    <script src="~/Custom/js/previewArticleHeightEqualize.js"></script>
    <script src="~/Custom/js/timezone.js"></script>
    <script src="~/Custom/js/homeVideoTitleLengthAdjust.js"></script>
}
