@model BDInSelfLove.Web.InputModels.VideoComment.VideoCommentInputModel

<form class="mb-3" asp-controller="VideoComment" asp-action="Create">
    <input type="hidden" asp-for="@Model.VideoId" value="@Model.VideoId" />
    <input type="hidden" asp-for="@Model.ParentCommentId" value="@Model.ParentCommentId" />
    <div class="form-group">
        <textarea asp-for="@Model.Content" class="form-control" rows="2" placeholder="Write your reply here."></textarea>
    </div>
    <div class="col-md-2 m-0 p-0">
        <button type="submit" class="btn btn-outline-secondary btn-block btn-sm">Reply</button>
    </div>
</form>