@model BDInSelfLove.Web.ViewModels.Home.ArticlePreviewViewModel

<div class="article-preview">
    <a asp-area="" asp-controller="Article" asp-action="Single" asp-route-id="@Model.Id">
        <div class="card article-card">
            <div class="text-center">
                <img class="card-img-top img-fluid" src="@Model.ImageUrl" alt="Article image">
            </div>
            <div class="card-body bg-light pt-1 text-left">
                <small>@Model.CreatedOn.ToString("dd/MM/yyyy")</small>
                <div class="card-title mb-1">@Model.Title</div>
                <p class="card-text text-left">
                    @Model.PreviewContent
                </p>
            </div>
            <div class="card-footer border-0 pr-1 pb-0">
                <div class="row float-right">
                    <div class="col-1 btn-to-singleArticle"><img src="~/Custom/icons/chevron-right-solid.svg" class="right-arrow-icon" alt="right arrow icon" data-creator="Icon by www.fontawesome.com / https://fontawesome.com/license"/></div>
                </div>
            </div>
        </div>
    </a>
</div>



