@model BDInSelfLove.Web.ViewModels.Comment.CommentsAllViewModel

@using BDInSelfLove.Data.Models
@using Microsoft.AspNetCore.Identity
@using BDInSelfLove.Web.InputModels.Comment

@inject SignInManager<ApplicationUser> SignInManager
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    const int mainCommentsPerPage = 3;
}

<div id="comments" class="mb-4">
    <!-- Add new comment -->
    @if (!this.SignInManager.IsSignedIn(this.User))
    {
        <div class="row">
            <div class="col">
                <partial name="_PostLoginPartial" model="null" />
            </div>
        </div>
    }
    else
    {
        <h2 class="mt-5 subtitle">@localizer["ADD NEW COMMENT"]</h2>
        <div class="row">
            <div class="col">
                <partial name="_CommentAddPartial" model="@(new CommentInputModel
                            {
                                ArticleId = Model.ArticleId,
                                VideoId = Model.VideoId,
                                ParentCommentId = null,
                            })" />
            </div>
        </div>
    }

    <!-- All comments -->
    @if (Model.Comments.Count > 0)
    {
        <h2 class="mb-2 mt-5 subtitle">@localizer["COMMENTS"]</h2>
        <div>
            @foreach (var comment in Model.Comments)
            {
                this.ViewData["width"] = "64";
                this.ViewData["height"] = "64";
                <div class="main-comment">
                    <partial name="_CommentSinglePartial" model="@comment" />
                </div>
            }
            <!-- Load more comments button -->
            @if (Model.Comments.Count > mainCommentsPerPage)
            {
                <div class="row mt-2">
                    <div class="col text-center">
                        <button id="load-comments-btn" class="btn btn-outline-secondary btn-sm">@localizer["Load More Comments"]</button>
                    </div>
                </div>
            }
        </div>
    }
    <!-- Comment delete confirmation modal -->
    <partial name="_CommentDeleteConfirmPartial" />
</div>
