@model BDInSelfLove.Web.InputModels.Comment.CommentInputModel

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@* Remove layout when using search (REST API Ajax Request) *@
@if(this.ViewContext.RouteData.Values["controller"].ToString() == "Comments")
{
    this.Layout = null;
}

<form class="mb-0 comment-box" asp-controller="Comments" asp-action="Create">
    <input type="hidden" asp-for="@Model.ArticleId" value="@Model.ArticleId" />
    <input type="hidden" asp-for="@Model.VideoId" value="@Model.VideoId" />
    <input type="hidden" asp-for="@Model.ParentCommentId" value="@Model.ParentCommentId" />
    <div class="form-group mb-1">
        <textarea asp-for="@Model.Content" id="" class="form-control" rows="2"></textarea>
        <span asp-validation-for="@Model.Content" class="text-danger"></span>
    </div>
    <div class="col-md-2 m-0 p-0">
        <button type="submit" class="green-btn border-0 btn-sm addCommentBtn">@localizer["Comment"]</button>
    </div>
</form>