@model BDInSelfLove.Web.ViewModels.Video.VideoPreviewViewModel

@{ 
    const string youtubeApiLink = "https://img.youtube.com/vi/";
    const string youtubeApiEnd = "/maxresdefault.jpg";
}

<div class="video-preview">
    <a asp-area="" asp-controller="Videos" asp-action="Single" asp-route-slug="@Model.Slug">
        <div class="pb-1">
            <div class="preview-wrapper">
                <img class="img-fluid w-100" src="@(youtubeApiLink + @Model.Url.Split('/').Last() + youtubeApiEnd)" alt="Video preview image" />
                <img class="play-btn" src="~/Custom/img/ytPlay1.png" />
            </div>
            <small class="mx-4">@Model.CreatedOn.ToString("dd/MM/yyyy")</small>
            <h1 class="mx-4 mt-1 video-resize">@Model.Title</h1>
            <div class="border-0 pb-0">
                <div class="row float-end">
                    <div class="col-1 btn-to-singleVideo"><img src="~/Custom/icons/chevron-right-solid.svg" class="right-arrow-icon" alt="right arrow icon" data-creator="Icon by www.fontawesome.com / https://fontawesome.com/license" /></div>
                </div>
            </div>
        </div>
    </a>
</div>