@model ErrorViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{ this.ViewData["Title"] = localizer["Content not found"].Value; }

<partial name="_SlimShowcasePartial" model="@(ViewData["Title"] ?? "Error")" />

<div class="text-center my-2">
    <img src="~/Custom/img/wonder.png" height="300" alt="Content not found"/>
    <h5>@localizer["Please try one of the links below:"]</h5>
    <a class="btn btn-outline-secondary" href="/">@localizer["Home"]</a>
    <a class="btn btn-outline-secondary" href="/Home/Appointments">@localizer["Schedule an Appointment"]</a>
    <a class="btn btn-outline-secondary" href="/Home/Contacts">@localizer["Contact"]</a>
    <a class="btn btn-outline-secondary" asp-controller="Articles" asp-action="Index">@localizer["Articles"]</a>
    <a class="btn btn-outline-secondary" asp-controller="Videos" asp-action="Index">@localizer["Videos"]</a>
</div>