@using InSelfLove.Services.Data.Helpers;
@using CloudinaryDotNet;
@using Microsoft.AspNetCore.Identity
@using InSelfLove.Data.Models
@using InSelfLove.Web.ViewModels.Comment

@model InSelfLove.Web.ViewModels.Article.ArticleViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject CloudinaryDotNet.Cloudinary Cloudinary


@{
    // Provide title to layout partial for title header
    ViewData["Title"] = Model.Title;

    // Get image folder & name from default cloudinary link
    var imageFolderAndName = string.Join('/', Model.ImageUrl.Split('/').TakeLast(2).Select(x => x.Split('.')[0]));

    // Dynamically create img tag based on current window space available
    // Client library also required due to Width("auto") option
    // which requires dynamic calculations
    var articlePic = Cloudinary.Api.UrlImgUp.Transform(new Transformation()
                                   .Width("auto").Crop("fill")).Secure(true)
                                   .BuildImageTag(imageFolderAndName, new StringDictionary("class=card-img-top"));
}

<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <!-- Article -->
            <div id="single-article" itemscope itemtype="http://schema.org/Article">
                <div class="card mb-4 border-left-0 border-right-0">

                    <h4 class="card-title text-center mb-1 mx-2">@Model.Title</h4>
                    <div class="text-center mb-2">
                        <span class="text-muted text-center article-date">@Model.CreatedOn.ToString("dd MMMM, yyyy")</span>
                    </div>
                    <div class="img-wrapper text-center">
                            @Html.Raw(articlePic)
                    </div>
                    <!-- Edit and Delete buttons if user is admin -->
                    @if (this.User.IsInRole(AppConstants.AdministratorRoleName))
                    {
                        <div class="row mb-4">
                            <div class="col text-end">
                                <a asp-action="Edit" asp-route-id="@Model.Id">
                                    <img class="edit-btn" src="~/Custom/icons/edit-solid.svg" alt="edit icon" data-creator="Icon by www.fontawesome.com / https://fontawesome.com/license" />
                                </a>
                            </div>
                            <div class="col">
                                <div data-bs-toggle="modal" data-bs-target="#confirmArticleDelete">
                                    <img class="delete-btn deleteArticle" src="~/Custom/icons/trash-solid.svg" alt="delete icon" data-creator="Icon by www.fontawesome.com / https://fontawesome.com/license" />
                                </div>
                            </div>
                        </div>
                    }
                    <div class="card-body">
                        <!-- Content -->
                        <div class="row justify-content-around mt-2 ">
                            <div class="col-md-11" id="single-article-content">
                                @(Html.Raw(Model.SanitizedContent))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <partial name="_CommentsPartial" model="new CommentsAllViewModel {
                                                    ArticleId = Model.Id,
                                                    Comments = Model.Comments,
                     }" />
            <partial name="_ArticleDeleteConfirmPartial" model="@Model.Id" />
        </div>
        <!-- Suggested articles -->
        <vc:sidebar is-article="true" date="@Model.CreatedOn"></vc:sidebar>
    </div>
    <!-- Suggested videos -->
    <vc:bottombar is-article="true" date="@Model.CreatedOn"></vc:bottombar>
</div>

@section Scripts
    {
    <script src="~/js/comments.js"></script>
    <script src="~/js/cloudinary.js"></script>
}