@model BDInSelfLove.Web.InputModels.Administration.Article.ArticleCreateInputModel
<div class="container mb-5">
    <h1 class="text-center">Create Article</h1>
    <form method="post" asp-area="Administration" asp-controller="Article" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="@Model.Title"></label>
            <input asp-for="@Model.Title" class="form-control" />
            <span asp-validation-for="@Model.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.ImageUrl"></label>
            <input asp-for="@Model.ImageUrl" class="form-control" />
            <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Image" class="btn btn-outline-secondary mt-4 btn-block text-left">
                Or upload an image, if that's what you'd prefer
                <input type="file" asp-for="@Model.Image" hidden onchange="$('#upload-file-info').html(this.files[0].name); $('#ImageUrl').val('')">
            </label>
            <span class='label label-info' id="upload-file-info"></span>
            <span asp-validation-for="@Model.Image" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Content"></label>
            <textarea asp-for="@Model.Content" class="form-control" rows="20" id="mytextarea"></textarea>
            <span asp-validation-for="@Model.Content" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-outline-success btn-block w-50 mx-auto">Create</button>
    </form>
</div>

@section HeadScripts
{
    <script src="https://cdn.tiny.cloud/1/mky5s0u10p9um2r86zbuod2opxi008rpr3tpgf6dtd16t787/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea',
            plugins: "paste",
            paste_as_text: true,
            paste_webkit_styles: 'none',
        });
    </script>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
