@model BDInSelfLove.Web.ViewModels.Search.IndexSearchViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer


@{
    ViewData["Title"] = @localizer["Search Results"].Value;
}

<partial name="_SlimShowcasePartial" model="@ViewData["Title"]" />
@* Search term stored for ajax requests *@
<input type="hidden" id="search-term" name="search-term" value="@Model.SearchTerm">
<div class="col text-center pt-3 pb-2 info-header">
    <h1 class="display-4">@localizer["Articles"]</h1>
</div>
<partial name="_ArticlesAllPartial" model="@Model.ArticlesPagination" />
<div class="col text-center pb-2 info-header">
    <h1 class="display-4">@localizer["Videos"]</h1>
</div>
<partial name="_VideosAllPartial" model="@Model.VideosPagination" />

@section Scripts {
    <script src="~/Custom/js/search.js"></script>
    <script src="~/Custom/js/previewArticleHeightEqualize.js"></script>
    <script src="~/Custom/js/previewVideoHeightEqualize.js"></script>
} 