@page
@model LoginModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["Login"].Value;
}

<partial name="_SlimShowcasePartial" model="@ViewData["Title"]" />

<div class="section" id="loginPage">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <section>
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                    for details on setting up this ASP.NET application to support logging in via external services.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p class="d-flex justify-content-center">
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            if (provider.Name == "Google")
                                            {
                                                <button type="submit" class="btn btn-outline-secondary mx-3" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                    <img src="~/Custom/icons/google-brands.svg" class="google-icon" alt="google icon" data-creator="Icon by www.fontawesome.com / https://fontawesome.com/license" />
                                                    @localizer["Login with Google"]
                                                </button>
                                            }
                                            // todo: facebook requires company documents to be uploaded to the Meta Business Account. Otherwise it won't confirm it and you can't use FB Login. Bit too much
                                            @* else if (provider.Name == "Facebook")
                                            {
                                                <button type="submit" class="btn btn-outline-secondary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                    <img src="~/Custom/icons/facebook-f-brands.svg" class="facebook-icon" alt="facebook icon" data-creator="Icon by www.fontawesome.com / https://fontawesome.com/license" />
                                                    @localizer["Login with Facebook"]
                                                </button>
                                            } *@
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                    <hr />
                </section>
                <section>
                    <form id="account" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label>@localizer["Username"]</label>
                            <input asp-for="Input.Username" class="form-control" />
                            <span asp-validation-for="Input.Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>@localizer["Password"]</label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-0 justify-content-between">
                            <div class="checkbox d-inline">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    <span>@localizer["Remember me?"]</span>
                                </label>
                            </div>
                            <div class="my-4">
                                <span>
                                    <span id="frgtPswdSpan" class="mr-5"> <a class="ml-2 btn white-btn btn-sm" id="forgot-password" asp-page="./ForgotPassword">@localizer["Forgotten password?"]</a>  </span>
                                    <span id="registerSpan" class="ml-5 btn white-btn btn-sm"> <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@localizer["Register"]</a>  </span>
                                </span>
                            </div>

                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn green-btn" id="login-btn">@localizer["Log in"]</button>
                        </div>
                    </form>
                </section>

            </div>
            <div class="col-md-6 col-md-offset-2">
            </div>
        </div>
    </div>
</div>
