@page
@model RegisterModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["Register"].Value;
}

<partial name="_SlimShowcasePartial" model="@ViewData["Title"]" />

<div class="section" id="registerPage">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <section>
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                    for details on setting up this ASP.NET application to support logging in via external services.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p class="d-flex justify-content-center">
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            if (provider.Name == "Google")
                                            {
                                                <button type="submit" class="btn btn-outline-secondary mr-3" name="provider" value="@provider.Name" title="Register using your @provider.DisplayName account">
                                                    <img src="~/Custom/icons/google-brands.svg" class="google-icon" alt="google icon" data-creator="Icon by www.fontawesome.com / https://fontawesome.com/license" />
                                                    @localizer["Register with Google"]
                                                </button>
                                            }
                                            // todo: facebook requires company documents to be uploaded to the Meta Business Account. Otherwise it won't confirm it and you can't use FB Login. Bit too much
                                            //else if (provider.Name == "Facebook")
                                            //{
                                            //    <button type="submit" class="btn btn-outline-secondary" name="provider" value="@provider.Name" title="Register using your @provider.DisplayName account">
                                            //        <img src="~/Custom/icons/facebook-f-brands.svg" class="facebook-icon" alt="facebook icon" data-creator="Icon by www.fontawesome.com / https://fontawesome.com/license" />
                                            //        @localizer["Register with Facebook"]
                                            //    </button>
                                            //}
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                    <hr />
                </section>
                <form id="profile-form" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="Input.TimezoneIANA" />
                    <div class="form-group">
                        <label>@localizer["Username"]</label>
                        <input asp-for="Input.Username" class="form-control" />
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>@localizer["Email"]</label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>@localizer["Password"]</label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>@localizer["Confirm password"]</label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="btn white-btn mb-3">
                            @localizer["Upload profile picture"]
                            <input type="file" asp-for="Input.ProfilePicture" hidden>
                        </label>
                    </div>
                    <div>
                        <button type="submit" class="btn green-btn">@localizer["Register"]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Custom/js/setTimezoneOnRegister.js"></script>
}