@model BDInSelfLove.Web.InputModels.Article.ArticleCreateInputModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<partial name="_SlimShowcasePartial" model="@localizer["Create Article"].Value" />

<div class="container pb-5 mt-3">
    <form id="article-create-form" method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">
            <label>@localizer["Title"]</label>
            <input asp-for="@Model.Title" class="form-control" />
            <span asp-validation-for="@Model.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>@localizer["Link to your article's image"]</label>
            <input asp-for="@Model.ImageUrl" class="form-control" />
            <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="btn white-btn">
                @localizer["or upload an image"]
                <input type="file" asp-for="@Model.Image" hidden>
            </label>
            <span class='label label-info' id="upload-file-info"></span>
            <span asp-validation-for="@Model.Image" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="btn white-btn mb-3">
                @localizer["Upload preview image"]
                <input type="file" asp-for="@Model.PreviewImage" hidden>
            </label>
        </div>
        <div class="form-group">
            <label class="d-block">@localizer["Date"]</label>
            <input class="w-100" id="CreatedOn" name="CreatedOn">
        </div>
        <div class="form-group">
            <label>@localizer["Content"]</label>
            <textarea asp-for="@Model.Content" class="form-control" rows="20" id="mytextarea"></textarea>
            <span asp-validation-for="@Model.Content" class="text-danger"></span>
        </div>
        <button type="submit" class="btn green-btn">@localizer["Create"]</button>
    </form>
</div>

@section HeadScripts
{
    <script src="https://cdn.tiny.cloud/1/mky5s0u10p9um2r86zbuod2opxi008rpr3tpgf6dtd16t787/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script src="~/Custom/js/tinyMce.js"></script>
    <script src="~/Custom/js/the-datepicker.js"></script>
}

@section Scripts {
    <script src="~/Custom/js/datePicker.js"></script>
}

@section Links {
    <link rel="stylesheet" href="~/Custom/css/the-datepicker.css">
}
