@model BDInSelfLove.Web.InputModels.Article.ArticleEditInputModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<partial name="_SlimShowcasePartial" model="@localizer["Edit Article"].Value" />

<div class="container mb-5 mt-3">
    <form id="article-create-form" method="post" asp-action="Edit" asp-route-id="@Model.Id" enctype="multipart/form-data">
        <div class="form-group">
            <label>@localizer["Title"]</label>
            <input asp-for="@Model.Title" class="form-control" />
            <span asp-validation-for="@Model.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>@localizer["Link to your article's image"]</label>
            <input asp-for="@Model.ImageUrl" class="form-control" />
            <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="btn white-btn">
                @localizer["Or upload an image"]
                <input type="file" asp-for="@Model.Image" hidden onchange="$('#upload-file-info').html(this.files[0].name); $('#ImageUrl').val('')">
            </label>
            <span class='label label-info' id="upload-file-info"></span>
            <span asp-validation-for="@Model.Image" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="originalPreviewPic" class="btn white-btn mb-3">
                @localizer["Upload preview image"]
                <input type="file" id="originalPreviewPic" hidden>
            </label>
            <span class='label label-info' id="upload-previewPic-info"></span>
            <span asp-validation-for="@Model.PreviewImage" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>@localizer["Content"]</label>
            <textarea asp-for="@Model.Content" class="form-control" rows="20" id="mytextarea"></textarea>
            <span asp-validation-for="@Model.Content" class="text-danger"></span>
        </div>
        <button type="submit" class="btn green-btn">@localizer["Edit"]</button>
    </form>
</div>

@section HeadScripts
{
    <script src="https://cdn.tiny.cloud/1/mky5s0u10p9um2r86zbuod2opxi008rpr3tpgf6dtd16t787/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script src="~/Custom/js/tinyMce.js"></script>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/Custom/js/compressArticlePreviewPic.js"></script>
}
