@model BDInSelfLove.Web.InputModels.Article.ArticleEditInputModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    var previewPic = (Model.PreviewImageBlob == null || Model.PreviewImageBlob.Length < 10) ?
        null : "data:image/jpeg;base64," + System.Convert.ToBase64String(Model.PreviewImageBlob);
}

<partial name="_SlimShowcasePartial" model="@localizer["Edit Article"].Value" />

<div class="container mb-5 mt-3">
    <form id="article-create-form" method="post" asp-action="Edit" asp-route-id="@Model.Id" enctype="multipart/form-data">
        <div class="form-group">
            <label>@localizer["Title"]</label>
            <input asp-for="@Model.Title" class="form-control" />
            <span asp-validation-for="@Model.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>@localizer["Link to your article's image"]</label>
            <input asp-for="@Model.ImageUrl" class="form-control" />
            <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="btn white-btn">
                @localizer["Or upload an image"]
                <input type="file" asp-for="@Model.Image" hidden>
            </label>
            <span class='label label-info' id="upload-file-info"></span>
            <span asp-validation-for="@Model.Image" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="originalPreviewPic" class="btn white-btn mb-3">
                @localizer["Upload preview image"]
                <input type="file" id="originalPreviewPic" hidden>
            </label>
            <span class='label label-info' id="upload-previewPic-info"></span>
        </div>
        <div class="form-group">
            <input value="@previewPic" type="hidden" asp-for="@Model.PreviewImage" />
        </div>
        <div class="form-group">
            <label class="d-block">@localizer["Date"]</label>
            <input value="@Model.CreatedOn" class="w-100" id="CreatedOn" name="CreatedOn">
        </div>
        <div class="form-group">
            <label>@localizer["Content"]</label>
            <textarea asp-for="@Model.Content" class="form-control" rows="20" id="mytextarea"></textarea>
            <span asp-validation-for="@Model.Content" class="text-danger"></span>
        </div>
        <button type="submit" class="btn green-btn">@localizer["Edit"]</button>
    </form>
</div>

@section Scripts {
    <script src="~/lib/tinyMce/tinymce.min.js"></script>
    <script src="~/lib/the-datepicker.js/dist/the-datepicker.min.js"></script>
    <script src="~/Custom/js/tinyMce.js"></script>
    <script src="~/Custom/js/datePicker.js"></script>
}

@section Links {
    <link rel="stylesheet" href="~/lib/the-datepicker.js/dist/the-datepicker.min.css">
}