@using BDInSelfLove.Common
@using Microsoft.AspNetCore.Identity
@using BDInSelfLove.Data.Models
@using BDInSelfLove.Web.ViewModels.Comment

@model BDInSelfLove.Web.ViewModels.Article.ArticleViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer


@{
    ViewData["Title"] = Model.Title;
}

<div id="single-article-container">
    <div class="row">
        <div class="col-lg-9">
            <!-- Article -->
            <div id="single-article" itemscope itemtype="http://schema.org/Article">
                <div class="card mb-4 border-left-0 border-right-0">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-1">@Model.Title</h4>
                        <div class="text-center mb-2">
                            <span class="text-muted text-center article-date">@Model.CreatedOn.ToString("dd MMMM, yyyy")</span>
                        </div>
                        <div class="img-wrapper text-center">
                            <img class="card-img-top" src="@Model.ImageUrl" alt="Article image">
                        </div>
                        <!-- Edit and Delete buttons if user is admin -->
                        @if (this.User.IsInRole(GlobalValues.AdministratorRoleName))
                        {
                            <div class="row mb-4">
                                <div class="col text-end">
                                    <a asp-action="Edit" asp-route-id="@Model.Id">
                                        <img class="edit-btn" src="~/Custom/icons/edit-solid.svg" alt="edit icon" data-creator="Icon by www.fontawesome.com / https://fontawesome.com/license" />
                                    </a>
                                </div>
                                <div class="col">
                                    <div data-bs-toggle="modal" data-bs-target="#confirmArticleDelete">
                                        <img class="delete-btn deleteArticle" src="~/Custom/icons/trash-solid.svg" alt="delete icon" data-creator="Icon by www.fontawesome.com / https://fontawesome.com/license" />
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- Content -->
                        <div class="row justify-content-around mt-2 ">
                            <div class="col-md-11" id="single-article-content">
                                @(Html.Raw(Model.SanitizedContent))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <partial name="_CommentsPartial" model="new CommentsAllViewModel {
                                                    ArticleId = Model.Id,
                                                    Comments = Model.Comments,
                     }" />
            <partial name="_ArticleDeleteConfirmPartial" model="@Model.Id" />
        </div>
        <!-- Suggested articles -->
        <vc:sidebar article-id="@Model.Id" video-id="0"></vc:sidebar>
    </div>
    <!-- Suggested videos -->
    <vc:bottombar is-article="true"></vc:bottombar>
</div>

@section Scripts
{
    <script src="~/Custom/js/previewVideoHeightEqualize.js"></script>
    <script type="module" src="~/Custom/js/commentsHideDisplayItems.js"></script>
    <script type="module" src="~/Custom/js/editComment.js"></script>
    <script type="module" src="~/Custom/js/deleteComment.js"></script>
    <script type="module" src="~/Custom/js/addComment.js"></script>
}