@model BDInSelfLove.Web.ViewModels.Articles.ArticleViewModel

<div class="container">
    <div id="singleArticle">
        <div class="card mb-4">
            <img class="card-img-top" src="@Model.ImageUrl" alt="">
            <div class="card-body">
                <h4 class="card-title text-center mb-2">@Model.Title</h4>

                <div class="text-center">
                    <small class="text-muted text-center">Posted on @Model.CreatedOn.ToString("MMMM dd, yyyy") at @Model.CreatedOn.ToString("HH:mm") by @Model.UserUsername</small>
                </div>
                <div class="row justify-content-around">
                    <div class="col-md-8">
                        @Html.Raw(Model.SanitizedContent)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_CommentsPartial" />
