@using BDInSelfLove.Data.Models
@using Microsoft.AspNetCore.Identity
@using BDInSelfLove.Web.ViewModels.Forum.Comment

@model BDInSelfLove.Web.ViewModels.Forum.Post.PostViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    this.ViewData["width"] = "62";
    this.ViewData["height"] = "62";
}

<div class="container my-3">
    <nav class="breadcrumb">
        <a href="index.html" class="breadcrumb-item">Board index</a>
        <a href="overview-forum-category.html" class="breadcrumb-item">Forum category</a>
        <span class="breadcrumb-item active">Forum post title with a complex and long question</span>
    </nav>
    <div class="row">
        <div class="col">

            <!-- TABLE BELOW -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-0 pb-0 border-0" id="0">
                        <div class="card-header text-dark p-4">
                            <h2 class="h4">@Model.Title</h2>
                        </div>
                        <div class="card-header bg-white border-0">
                            <div class="media flex-wrap w-100 align-items-center">
                                <img src="@Model.UserProfilePhoto" height="@this.ViewData["width"]" width="@this.ViewData["height"]"
                                     class="d-block rounded-circle" alt="">
                                <div class="media-body ml-3">
                                    <a class="user-link" href="@Model.UserId" data-abc="true">@Model.UserUserName</a>
                                    <div class="text-muted small">@Model.CreatedOn.ToString("dd MMMM yyyy HH:mm")</div>
                                </div>
                                <div class="px-4 pt-3">
                                    <a href="javascript:void(0)"
                                       class="text-muted d-inline-flex align-items-center align-middle" data-abc="true">
                                        <i class="fa fa-heart text-danger"></i>&nbsp; <span class="align-middle">445</span>
                                    </a>
                                    <span class="text-muted d-inline-flex align-items-center align-middle ml-4">
                                        <i class="fa fa-eye text-muted fsize-3"></i>&nbsp; <span class="align-middle">14532</span>
                                    </span>
                                </div>
                                <div class="px-4 pt-3">
                                    <button type="button" class="btn btn-outline-primary btn-sm">
                                        <i class="ion ion-md-create"></i>Reply
                                    </button>
                                </div>
                                <div class="text-muted small ml-3">
                                    <div>Member since <strong>01/1/2019 IMPLEMENT ME</strong></div>
                                    <div><strong>134</strong> posts IMPLEMENT ME</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            @Html.Raw(@Model.SanitizedContent)
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <h5 class="mb-0 ml-4 mt-5">Comments</h5>

            @foreach (var comment in Model.Comments)
            {
                <partial name="_RecursiveCommentPartial" model="@comment" />
            }

        </div>
    </div>
    <div class="mb-3 clearfix">
        <nav aria-label="Navigate post pages" class="float-lg-right">
            <ul class="pagination pagination-sm mb-lg-0">
                <li class="page-item active">
                    <a href="post.html#" class="page-link">
                        1 <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="page-item"><a href="post.html#" class="page-link">2</a></li>
                <li class="page-item"><a href="post.html#" class="page-link">3</a></li>
                <li class="page-item"><a href="post.html#" class="page-link">4</a></li>
                <li class="page-item"><a href="post.html#" class="page-link">5</a></li>
                <li class="page-item"><a href="post.html#" class="page-link">… 31</a></li>
                <li class="page-item"><a href="post.html#" class="page-link">Next</a></li>
            </ul>
        </nav>
    </div>

    @if (!this.SignInManager.IsSignedIn(this.User))
    {
        <partial name="_PostLoginPartial" model="null" />
    }
    else
    {
        <partial name="_AddCommentPartial" model="@(new CommentCreateInputModel { ParentPostId = Model.Id })" />
    }
</div>

@section HeadScripts
{
    <script src="https://cdn.tiny.cloud/1/mky5s0u10p9um2r86zbuod2opxi008rpr3tpgf6dtd16t787/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>
}

@section Scripts 
{
    <script>
        function SetReply(id, name) {
            $("#ParentCommentId").val(id);
            if (id == '0') {
                $("#AddCommentText").html('Add New Comment');
            }
            else {
                $("#AddCommentText").html('Add a reply to ' + name + '\'s comment');
            }

            $('html, body').animate({ scrollTop: $("#AddCommentText").offset().top }, 500);
        }


        (function getButtons() {
            const comments = document.querySelectorAll('.card');


            comments.forEach(c => {
                const parentCommentUser = c.querySelector('.user-link').textContent;
                const parentCommentId = c.getAttribute('id');

                const button = c.querySelector('button');

                button.addEventListener('click', () => SetReply(parentCommentId, parentCommentUser), false);

            })
        })();
    </script>
}