@model InSelfLove.Web.ViewModels.Appointment.AppointmentIndexViewModel
@using InSelfLove.Data.Models
@using InSelfLove.Services.Data.Appointments;
@using Microsoft.AspNetCore.Identity
@using InSelfLove.Services.Data.Helpers;
@using System.Text.Json;
@using Newtonsoft.Json;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer


@{
    // Provide title to layout partial for title header
    ViewData["Title"] = @localizer["Book Appointment"].Value;

    bool userIsAdmin = this.User.IsInRole(AppConstants.AdministratorRoleName);
    var user = await this.UserManager.GetUserAsync(this.User);

    // Additional details needed when user books their 1st appointment - Description field
    bool usersFirstAppt = !Model.Appointments.Any(x => x.UserId != null);

    // Provide login page with return url for better UX
    var returnUrl = this.Context.Request.QueryString.Value;

    // TODO: Refactor workday logic... too bulky
    // Workday start/end setup
    var workDayStartStr = this.Context.Request.Cookies["workDayStart"];
    var workDayEndStr = this.Context.Request.Cookies["workDayEnd"];
    var workDayStart = DateTime.Now;
    var workDayEnd = DateTime.Now;

    if (workDayStartStr == null || workDayEndStr == null)
    {
        // Set default values if cookies don't exist
        workDayStart = DateTime.Now.Date.AddHours(AppointmentService.DefaultWorkdayStart);
        workDayEnd = DateTime.Now.Date.AddHours(AppointmentService.DefaultWorkdayEnd);

    }
    else
    {
        // Set values from cookies
        workDayStart = DateTime.Now.Date.AddHours(double.Parse(workDayStartStr.Split(':')[0]));
        workDayEnd = DateTime.Now.Date.AddHours(double.Parse(workDayEndStr.Split(':')[0]));
    }

    // Appointments from database
    // Stringify appointments in html to avoid unnecessary
    // calendar request to grab the data from db
    string apptmnts = string.Empty;
    foreach (var appointment in Model.Appointments)
    {
        apptmnts = apptmnts + JsonConvert.SerializeObject(appointment) + ";";
    }
    apptmnts = apptmnts.TrimEnd(';');

    // No available appointments -> show alert & direct user to Contacts page for better UX
    var availableAppointments = Model.Appointments.Where(x =>
        !x.IsUnavailable && DateTime.Compare(x.Start.ToUniversalTime(), DateTime.UtcNow) > 0).ToArray();

     //Include online payment logic if user has approved but unpaid upcoming appointments
    bool includePayment = user != null &&
                          Model.Appointments.Any(a =>
                                                 a.UserId == user.Id &&
                                                 a.IsApproved && !a.IsPaid);

    bool isRedirectFromStripe = this.Context.Request.Query.Keys.Any(k => k.ToLower().Equals("payment_intent"));

    //bool includePayment = false;
}

<div class="d-none dbEvents">@apptmnts</div>

<div class="container">
    @*No available appointments notification*@
    @if (!userIsAdmin && availableAppointments.Length == 0)
    {
        <div class="alert alert-dismissible bg-white mb-0" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <span>@localizer["NoAvailableApppointments"]</span>
            <a asp-area="" asp-controller="Home" asp-action="Contacts" class="green-btn p-2">@localizer["Contact"]</a>
        </div>
    }
    <div id="calendar" class="mt-3"></div>
    @if (userIsAdmin)
    {
        <div class="text-center">
            <button id="btnWorkingHours" class="green-btn border-0 btn mb-3" data-bs-toggle="modal" data-bs-target="#workingHours">@localizer["Standard Working Hours"]</button>
        </div>
    }
</div>

<div>
    @*Modals*@
    @*Login modal*@
    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body pb-0">
                    <div class="modal-header text-center p-0 pb-3">
                        <h4 class="modal-title w-100">@localizer["Please log in to book an appointment"]</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
                <div class="modal-footer justify-content-center pt-0 border-0">
                    <a class="btn green-btn" href=@("/Identity/Account/Login?ReturnUrl=/api/Appointments" + returnUrl)>@localizer["Log in"]</a>
                </div>
            </div>
        </div>
    </div>

    @*Book appointment modal*@
    <div id="bookAppointmentModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body pb-0">

                    @*First-time clients need to provide some description - anti-psycho measures*@
                    @if (usersFirstAppt)
                    {
                        <div class="modal-header text-center p-0 pb-3">

                            <h4 class="modal-title w-100">@localizer["Briefly describe your issue"]</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="form-group issueDescription">
                            <textarea id="patientIssueDescription" rows="4" class="form-control px-2" placeholder="@localizer["This will be shared only with your therapist"]"></textarea>
                        </div>
                    }

                    @*Onsite slider (if admin has specified apptmnt can be onsite)*@
                    @*Dynamically shown/removed depending on which apptmnt is clicked*@
                    <div class="mt-3 mb-3 text-center">
                        <p class="mb-0" id="onSiteBookMsg"></p>
                        <label id="onSiteBookToggle" class="toggle">
                            <input class="toggle-checkbox" type="checkbox">
                            <div class="toggle-switch"></div>
                            <span class="toggle-label">@localizer["In Person"]?</span>
                        </label>
                    </div>
                </div>

                <div class="modal-footer justify-content-center pt-0 border-0">
                    <button id="sendAppointment" type="button" class="btn green-btn">@localizer["Send"]</button>
                </div>
            </div>
        </div>
    </div>

    @*Appointment details modal*@
    <div id="appointmentDetailsModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                @*Title & close btn*@
                <div class="modal-header text-center pb-0 border-0">
                    <h4 class="modal-title w-100">@localizer["Appointment Details"]</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body pb-0">

                    @*Date & start time row*@
                    <div class="row">
                        <div class="form-group col">
                            <label class="text-center text-black-50  border-bottom">@localizer["Date:"]</label>
                            <div class="date"></div>
                        </div>
                        <div class="form-group col">
                            <label class="text-center text-black-50  border-bottom">@localizer["Start:"]</label>
                            <div class="start"></div>
                        </div>
                    </div>

                    @*Username & status row*@
                    <div class="row mt-3">
                        <div class="form-group col usernameGroup">
                            <label class="text-black-50 border-bottom">@localizer["Username:"]</label>
                            <span class="username d-block"></span>
                        </div>
                        <div class="form-group col statusGroup">
                            <label class="text-center text-black-50  border-bottom statusLabel">@localizer["Status:"] </label>
                            <span class="status font-weight-bold d-block"></span>
                            <span class="paid font-weight-bold d-block"></span>
                        </div>
                    </div>

                    @*Details div*@
                    <div class="form-group detailsGroup mb-0 mt-3">
                        <label class="text-center text-black-50  border-bottom">@localizer["Details:"] </label>
                        <p class="details mb-0" style="word-wrap: break-word;"></p>
                    </div>


                    @*Location info div*@
                    <div class="form-group mt-3">
                        <label class="text-center text-black-50  border-bottom">@localizer["Location"]</label>
                        <p id="onSiteDetailsMsg"></p>

                        @*User cannot change apptmnt location after specifying it when booking*@
                        @if (userIsAdmin)
                        {
                            @*Admin can change apptmnt location only if apptmnt is available*@
                            <label id="onSiteDetailsToggle" class="toggle mt-2">
                                <input class="toggle-checkbox" type="checkbox">
                                <div class="toggle-switch"></div>
                                <span class="toggle-label">@localizer["In person"]?</span>
                            </label>
                        }
                    </div>

                    <div class="modal-footer justify-content-center pt-0 border-0">
                        @if (userIsAdmin)
                        {
                            @*Only admin can occupy & approve apptmnts*@
                            <button type="button" id="approveAppointment" class="btn green-btn">@localizer["Approve"]</button>
                            <button type="button" id="occupyAppointment" class="btn white-btn">@localizer["Occupy"]</button>
                        }

                        @*Payment div for user*@
                        @if (!userIsAdmin && includePayment)
                        {
                            <button type="button" id="payBtn" class="btn green-btn">@localizer["Payment"]</button>
                        }

                        <button id="btnDelete" class="btn white-btn">@localizer["Cancel"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Cancel appointment confirmation modal*@
    <div id="cancelAppointmentConfirm" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center border-0">
                    <h4 class="modal-title w-100">@localizer["Are you sure?"]</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer justify-content-center border-0 pt-0">
                    <button type="button" class="btn btn-outline-danger confirmCancelAppointment">@localizer["Confirm"]</button>
                </div>
            </div>
        </div>
    </div>

    @*Working hours modal*@
    @if (userIsAdmin)
    {
        <div id="workingHours" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-center pb-0 border-0">
                        <h4 class="modal-title w-100">@localizer["Standard Working Hours"]</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col">
                                    <label class="d-block text-center mb-2 fw-bold">@localizer["Start Time"]</label>
                                    <input class="d-block mx-auto" type="time" id="startHour" name="startHour" required>
                                </div>
                                <div class="col">
                                    <label class="d-block text-center mb-2 fw-bold">@localizer["End Time"]</label>
                                    <input class="d-block mx-auto" type="time" id="endHour" name="endHour" required>
                                </div>
                            </div>
                            <div class="row mt-3" id="hoursDisplayRow">
                                 <div class="form-group col ml-5 mb-0">
                                   <div id="startHourDisplay" class="text-center fs-2"></div>
                                </div>

                                <div class="form-group col ml-5 mb-0">
                                   <div id="endHourDisplay" class="text-center fs-2"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <button type="button" id="workingHoursSubmitBtn" class="btn green-btn">@localizer["Save"]</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        @*Daily availability modal*@
        @*Only admin can submit daily availability*@
        <div id="dailyAvailabilityModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header pt-3 pb-2 text-center border-0">
                        <h4 class="modal-title w-100">@localizer["Set Daily Availability"]</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body pt-1">
                        <div class="container">
                            <div class="row justify-content-center">
                                @{
                                    for (int i = workDayStart.Hour; i < workDayEnd.Hour; i++)
                                    {
                                        // Add a :00 & :30 slot for each hour
                                        <div class="dailyTimeSlot col-md-5 border rounded-pill text-center m-1 p-1">
                                            @(i.ToString() + ":00")
                                        </div>

                                        <div class="dailyTimeSlot col-md-5 border rounded-pill text-center m-1 p-1">
                                            @(i.ToString() + ":30")
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="row mx-5">
                            <button type="button" id="submitDailyAvailability" class="btn green-btn mt-2">@localizer["Save"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @*Stripe modals only if we have an unpaid, upcoming, approved appointment*@
    @*Or if user has just paid their appointment -> we still need the success/fail*@
    @*modals even if there are no unpaid appointments*@
    @if (includePayment || isRedirectFromStripe)
    {
        <partial name="_StripeModalsPartial" />
    }

    @*CSRF token*@
    <form id="csrfToken" method="post"></form>
    @*Show working hours button*@

</div>

@section Scripts {
    @if (includePayment || isRedirectFromStripe)
    {
        <script src="https://js.stripe.com/v3/"></script>
        <script src="~/Custom/js/stripeCheckout.js" defer></script>
    }
    <script src="~/js/calendar.js"></script>
    }

@section Links {
    @if (includePayment || isRedirectFromStripe)
    {
        <link rel="stylesheet" href="~/Custom/css/stripe-checkout.css" />
    }
    <link rel="stylesheet" href="~/Custom/css/calendar.css">
    }
