@page
@model PersonalDataModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["Personal Data"];
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>@localizer["Your account contains personal data that you have given us. This page allows you to download or delete that data."]</p>
        <p>
            <strong>@localizer["Deleting this data will permanently remove your account, and this cannot be recovered."]</strong>
        </p>
        <div class="row">
            <div class="col">
                <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
                    <button class="btn white-btn" type="submit">@localizer["Download"]</button>
                </form>
            </div>
            <div class="col">
                <p>
                    <a id="delete" asp-page="DeletePersonalData" class="btn btn-outline-danger">@localizer["Delete"]</a>
                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}