@model BDInSelfLove.Web.ViewComponents.Models.Video.AllHomeVideoViewModel
@{
    int index = 0;
    const string youtubeApiLink = "https://img.youtube.com/vi/";
    const string youtubeApiEnd = "/maxresdefault.jpg";
}

@foreach (var video in Model.Videos)
{
    string videoId = video.Url.Split('/').Last();
    string backgroundImg = youtubeApiLink + videoId + youtubeApiEnd;

    <div class="carousel-item @(index == 0 ? "active" : "")" itemscope itemtype="http://schema.org/Movie">
        <lite-youtube videoid="@videoId" playlabel="Play: @video.Title" style="background-image: url('@backgroundImg');">
            <div class="video-title">@video.Title</div>
            <button type="button" class="lty-playbtn">
                <span class="lyt-visually-hidden">Play Video: @video.Title</span>
            </button>
        </lite-youtube>
    </div>
    @(index++);
}