@model BDInSelfLove.Web.ViewModels.Courses.CourseViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using BDInSelfLove.Services.Data.Helpers


@{
    bool userIsAdmin = this.User.IsInRole(AppConstants.AdministratorRoleName);
}

@*Create video modal*@

@if (userIsAdmin)
{
    <div id="create-video-modal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@localizer["Create Video"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="uploadForm" method="post" asp-action="CreateCourseVideo"
                          enctype="multipart/form-data" onsubmit="AJAXSubmit(this);return false;">
                        <dl>
                            <dt>
                                <label for="file">File</label>
                            </dt>
                            <dd>
                                <input id="file" type="file" name="file" />
                            </dd>

                            <dd>
                                <input id="CourseId" type="hidden" name="CourseId" value="@Model.Id" />
                            </dd>
                        </dl>

                        <input class="btn" type="submit" value="Upload" />

                        <div style="margin-top:15px">
                            <output form="uploadForm" name="result"></output>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
@* End of Create video modal *@

@* Buy course modal *@
<div id="buy-course-modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@localizer["Buy Course"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="buyCourseForm" method="post" asp-action="BuyCourse">
                    <dl>
                        <dd>
                            <input id="CourseId" type="hidden" name="CourseId" value="@Model.Id" />
                        </dd>
                        <dd>
                            <input id="PriceId" type="hidden" name="PriceId" value="@Model.PriceId" />
                        </dd>
                    </dl>

                    <input class="btn green-btn" type="submit" value="Buy" />

                    <div style="margin-top:15px">
                        <output form="uploadForm" name="result"></output>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@* End of Buy course modal *@


<partial name="_SlimShowcasePartial" model="@Model.Title" />


<div class="container">
    <div class="row">
        @if (userIsAdmin)
        {
            <div class="col-md-4">
                <button type="button" class="btn green-btn" data-bs-toggle="modal" data-bs-target="#create-video-modal">
                    Create Video
                </button>
            </div>
        }
        else if (this.User.Identity.IsAuthenticated)
        {
            <div class="col-md-4">
                <button type="button" class="btn green-btn" data-bs-toggle="modal" data-bs-target="#buy-course-modal">
                    Buy Course
                </button>
            </div>
        }
        else
        {
            <div class="col-md-4">
                <a href="/Identity/Account/Login" type="button" class="btn green-btn">
                    Log in to buy
                </a>
            </div>
        }

    </div>
    <div class="row py-4">
        @{ var counter = 0;}
        @foreach (var video in Model.CourseVideos)
        {
            @*//TODO: 1st video needs to be somehow differentiated from the others that will be greyed out if user hasnt paid*@
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="video-preview">
                    <a asp-action="CourseVideo" asp-route-id="@video.Id" asp-route-courseId="@video.CourseId">
                        <div class="pb-1">
                            <div class="ratio ratio-16x9">
                                <img class="img-fluid w-100" src="https://source.unsplash.com/random/300x20@(counter++)" alt="Video preview image" />
                                <img class="play-btn" src="~/Custom/img/ytPlay1.png" />
                            </div>
                            <h1 class="mx-4 mt-1 video-resize">@video.Title</h1>
                            <div class="border-0 pb-0">
                                <div class="row float-end">
                                    <div class="col-1 btn-to-singleVideo"><img src="~/Custom/icons/chevron-right-solid.svg" class="right-arrow-icon" alt="right arrow icon" data-creator="Icon by www.fontawesome.com / https://fontawesome.com/license" /></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    <script>
        "use strict";

        async function AJAXSubmit(oFormElement) {
            const formData = new FormData(oFormElement);

            try {
                await fetch(oFormElement.action + '/' + location.href.split('/').at(-1), {
                    method: 'POST',
                    body: formData
                });

                window.location.reload();
            } catch (error) {
                console.error('Error:', error);
            }
        }

        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        }
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
}
