@model BDInSelfLove.Web.ViewModels.Courses.CoursesIndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using BDInSelfLove.Common

@{
    bool userIsAdmin = this.User.IsInRole(GlobalValues.AdministratorRoleName);
}

@*Create course modal*@
@if (userIsAdmin)
{
    <div id="create-course-modal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@localizer["Create Course"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-action="CreateCourse" id="create-course-form" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>@localizer["Course name"]</label>
                            <input name="Title" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>@localizer["Link to your course's image"]</label>
                            <input name="ThumbnailLink" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>@localizer["Price"]</label>
                            <input name="Price" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="btn white-btn">
                                @localizer["or upload an image"]
                                <input type="file" name="ThumbnailImage" hidden>
                            </label>
                            <span class='label label-info' id="upload-file-info"></span>
                            <span asp-validation-for="@Model.CourseCreateInputModel.ThumbnailImage" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn green-btn">@localizer["Create"]</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@* End of Create course modal *@

<partial name="_SlimShowcasePartial" model="@localizer["Courses"].Value" />
<div class="container">
    @if (userIsAdmin)
    {
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn green-btn" data-bs-toggle="modal" data-bs-target="#create-course-modal">
                    Create Course
                </button>
            </div>
        </div>
    }

    <div id="all-courses" class="py-4">
        <div class="row">
            @foreach (var course in Model?.Courses)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="course-preview">
                        <a asp-action="Course" asp-route-id="@course.Id">
                            <div class="pb-1">
                                <div class="ratio ratio-16x9">
                                    <img class="img-fluid w-100" src="@(course.ThumbnailLink)" alt="Course preview image" />
                                </div>
                                <h1 class="mx-4 mt-1 course-resize">@course.Title</h1>
                                <div class="border-0 pb-0">
                                    <div class="row float-end">
                                        <div class="col-1 btn-to-singleCourse"><img src="~/Custom/icons/chevron-right-solid.svg" class="right-arrow-icon" alt="right arrow icon" data-creator="Icon by www.fontawesome.com / https://fontawesome.com/license" /></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>