@model IList<BDInSelfLove.Web.ViewModels.Forum.Home.Category.HomeCategoryViewModel>
@using BDInSelfLove.Common



<div class="row">
    <div class="col">

        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <div class="row">
                <div class="col mb-2">
                    <a asp-controller="Category" asp-action="Create" class="btn btn-success btn-block">Create Category</a>
                </div>
            </div>
        }

        @foreach (var category in Model)
        {
            <section class="mb-3">
                <div class="card">
                    <div class="card-header p-4 align-content-between">
                        <a asp-controller="Category" asp-action="Index" asp-route-id="@category.Id" class="text-dark">
                            <div class="h4">
                                @category.Name
                            </div>
                            <div>
                                @category.Description
                            </div>
                        </a>
                    </div>
                    <table class="table mb-xl-0">
                        <thead>
                            <tr>
                                <th scope="col">Last post</th>
                                <th scope="col">Total Posts</th>
                                <th scope="col">Total Comments</th>
                            </tr>
                        </thead>
                        @if (category.LastPost != null)
                        {
                            <tbody>
                                <tr>
                                    <td>
                                        <a asp-controller="Post" asp-action="Index" asp-route-id="@category.LastPost.Id"
                                           class="mb-0 font-weight-bold">
                                            @category.LastPost.Title
                                        </a>
                                        by <a asp-controller="Profile" asp-action="Index" asp-route-username="@category.LastPost.UserUserName">@category.LastPost.UserUserName</a>
                                        @category.LastPost.CreatedOn.ToString("dd MMMM yyyy HH:mm")
                                    </td>
                                    <td>
                                        <div>@category.PostsCount</div>
                                    </td>
                                    <td>
                                        <div>@category.CommentsCount</div>
                                    </td>
                                </tr>
                            </tbody>
                        }

                    </table>
                </div>
            </section>
        }

    </div>
</div>

